.orderListContainerTopPart{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    border:1px solid;
    background-color: purple;
    position:sticky;
    top:0px;
    height:40px;
}
.xmark:hover{
 cursor:pointer
}